<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="index1.css">
  <title>Document</title>
</head>
<body>
  <div class="navigationbar">      
    <a href="">
      <i class="fa fa-bars "></i>
  </a>
    
      <a href="home.html">
        <i class="home icon"></i> 
        Home
      </a>
     
      <!--RightIcons  -->
      <div class="righticons">           
       <div>
        <a href="" >
          <input type="text">
          <i class="searchengin icon"></i>
        </a>
        <a href="Login.html">
          <i class="users icon"></i>
          Login
        </a>
        <a href="">
          <i class="question circle outline icon"></i>
          </a> 
      </div>   
    </div>
  </div>
</body>
</html>