<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IBM</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    
    <marquee behavior="" direction="left">University Admission Eligibility Predictor</marquee>
    <div class="container">
        <form action="index1.html">
          
            <div class="col">
              
      
              <div class="login">
                <div class="title">
                <p>
                    Login
                </p>
               </div>
                <div class="type">
                    <label for="username">UserName</label>
                    <input type="text" id="username" required>
                </div>
                <div class="type">
                    <label for="password">Password</label>
                    <input type="password" id="password" required>
                </div>
                <p style="margin-left:240px">Forgot password?</p>
                <div class="button">
                    <input type="Submit">
                </div>


                <div class="hide-md-lg">
                    <p>Or</p>
                  </div>
                <div class="col">
                    <a href="https://accounts.google.com/v3/signin/challenge/pwd?TL=AB_wV5qalR7OWYDdwmwZHOOlxas7V-VedOtEursqBbf1iw1X4HxVIEBSzP_576jx&checkConnection=youtube%3A1197%3A0&checkedDomains=youtube&cid=1&continue=https%3A%2F%2Fwww.google.com%2F&dsh=S218696591%3A1667367000408587&flowEntry=AddSession&flowName=GlifWebSignIn&pstMsg=1" class="google btn">
                      <i class="fa fa-google fa-fw" style="margin-left: 130px;">
                      </i> Login with Google+
                    </a>
                  </div>
                <p>Create account? <a href="signup.html">Sign-up</a> </p>
            </div>
            </div>
            
          </div>
        </form>
      
</body>
</html>