body{
    background-image: url("ibm_image/d1.jpeg");
    height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
form{
    border: 3px solid black;
    background-color: rgba(52, 130, 161, 0.5);
    color: white;
    width:40%;
    margin-left:370px;
    margin-top:70px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 7px 10px 15px black inset;
}
input{
    border:2px solid black;
    padding:7px;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    box-shadow: 3px 3px 3px rgb(8, 8, 8);
}
label{
    font-weight: 600;
    font-size: larger;
    box-shadow: 6px 10px 7px black;
}
.center{
    width:100%;
    border-radius: 5px;
}


input:hover{
    background-color: rgb(71, 183, 208);
    BORDER:2px solid rgb(37, 68, 81);
}
.btn{
    margin-left:210px;
    padding: 20px;
}
.field{
    padding:10px;
}
.gender{
    /* margin: 30px; */
    padding-top:30px;
}
.gen{
    display: flex;
    margin: 10px;
}
.logbtn:hover{
    background-color:rgb(71, 183, 208);
    border:2px solid rgb(37, 68, 81);
}
.center:hover{
    background-color: rgb(71, 183, 208);
    BORDER:2px solid rgb(37, 68, 81);
}
.logbtn{
    padding: 10px;
    border-radius: 5px;
}

marquee{
    font-weight: 700;
    font-size: x-large;
    margin-top:10px;
}