body{
    background-image: url("ibm_image/d1.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    border: 3px solid black;
    padding: 15px; 
    width: 35%;
    border-radius: 10px;
    margin-left: 400px;
    color:white;
    background-color: rgba(52, 130, 161, 0.5);
    box-shadow: 7px 10px 15px black inset;
}
.regfrm label{
    font-weight: 800;
    padding: 7px;
}
.regfrm input:hover{
    border: 3px solid rgb(53, 183, 206);
    background-color: black;
    color: aliceblue;
}
.regfrm input{
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
.textfield input{
    width: 100%;
    box-sizing: border-box;
}
.textfield label{
    font-weight: 700;
    padding: 7px;
}
.score{
    display: grid;
    grid-template-columns: auto ;
}

header{
    font-weight: 800;
    font-size: x-large;
    text-align: center;
}


 .rating input{
    
    -ms-layout-grid: 100px;
    margin: 15px;
    transform: scale(1.5);
    
}
.research input{
    margin: 15px;
    transform: scale(1.5);
}

button{
    padding:10px;
    margin: 20px 200px;
    border: 3px solid black;
    border-radius: 15px;
}


button:hover{
    border: 3px solid rgb(53, 183, 206);
    background-color: black;
    color: aliceblue;
}

