<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/icons/fontawesome5_icons_hands.asp">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>

    <script src="jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="{{url_for('static',filename = 'css/index1.css')}}">
  <title>University Admit eligibility predictor</title>

  <script>
    
  </script>
</head>
<body>
  <div class="navigationbar">      
      <a href="/home">
        <i class="home icon"></i> 
      </a>
      <!--RightIcons  -->
      <div class="righticons" style="padding-left: 1020px;">           
       <div>
        <a href="/Login">
          <i class="users icon"></i>
          Login/SignUp
        </a>
      </div>   
    </div>
  </div>
  <h1 style="text-align: center;padding: 18px;font-size:xx-large;color:#053f4a;font-weight: bolder; margin-top:120px; ">University Admit Eligibility Predictor</h1>
   <!-- <a href="Login.html"> -->
   <!-- <i class="fas fa-hand-point-right"></i> -->
    <!-- Login to predict</a> -->
  <h2>
   {{ibm2}} {{x}}
  </h2>
</body>
</html>